*{
	padding: 0;
	margin: 0;
}
body{
	background: url(flixia-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'montserrat', sans-serif;
}
nav{
	background: rgb(255, 255, 255);
	width: 100%;
	height: 7vh;
}
.logo{
	width: 85px;
	height: auto;
	padding: 8px 50px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 40px;
}
.navbar ul li a{
	text-decoration: none;
	color: #14243c;
	font-family: 'montserrat', sans-serif;
	font-size: 15px;
	padding: 6px 10px;
	transition: .4s;
}
.navbar ul li a:hover{
	background: #fbbb47;
	border-radius: 2px;
	color: white;
}
.text{
	position: absolute;
	top: 55%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-family: 'montserrat';
	letter-spacing: 2px;
	color: white;
	user-select: none;
	background: rgba(0, 0, 0, 0.3);
	width: 40%;
	height: 75vh;
}
h1{
	font-size: 4em;
	width: 500px;
	font-weight: bold;
	padding-left: 35px;
	padding-top: 25px;

}
.nametag{
	text-decoration: underline;
	text-decoration-color: #fbbb47;
}
.signin{
	font-size: 2em;
	width: 300px;
	font-weight: light;
	padding-left: 35px;
	padding-top: 25px;
}
.input{
	padding: 9px 40px;
	margin-top: 10px;
	margin-left: 35px;
	border-radius: 5px;
	border-color: white;
	font-size: 15px;
	color: #14243c;
}
button{
	font-size: 18px;
	padding: 9px 30px;
	margin-top: 10px;
	margin-left: 35px;
	border-radius: 5px;
	color: white;
	background: #fbbb47;
	border-color: #fbbb47;
}
button:hover{
	background: #14243c;
	border-color: #14243c;
	border-radius: 15px;
	cursor: pointer;
}
footer{
	text-align: left;
	position: absolute;
	top: 98%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
}
